<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>

        <div class="logo">
            <img src="logo.png">
        </div>

        <nav class="barra">





            <div class="objetobarra">
                Home
            </div>
            <div class="objetobarra">
                Produto
            </div>
            <div class="objetobarra">
                Beneficios
            </div>
            <div class="objetobarra">
                Blog
            </div>
            <div class="objetobarra">
                Fale Conosco
            </div>
            <div class="objetobarra">
                Login
            </div>
            <button class="boton">
                <b>Experimente Grátis</b>
            </button>
        </nav>


        <div class="centro">

            <div class="encabezadocentro">
                <h1>Mais colaboraçao.</h1>
                <h1>Maior productividade</h1>
            </div>
            <div class="textocentro">
                O <b>SocialBase</b> é uma rede social exclusiva para seus funcionários, clientes e fornecedores
            </div>


            <div class="botoncentro">
                <button class="botoncentralverde">
                    <b>EXPERIMENTE GRÁTIS</b>
                </button>

                <button class="botoncentralazul">
                    SAIBA MAIS
                </button>
            </div>

        </div>


    <img src="monitor.png" class="monitor">
    <img src="tablet.png" class="tablet">
    <img src="movil.png" class="movil">


    <div class="mesa">

    </div>


</body>

</html>